## PYTHON_FUNCTION & PYTHON ARGUMENT

In [1]:
def greet():
    print('hello')
    print('Aftab')

In [2]:
def greet():
    print("Hello")
    print("Aftab")
greet()

Hello
Aftab

In [3]:
def greet():
    print("Hello")
    print("Aftab")
greet()

def greet():
    print("Hello")
    print("SK")
greet()

Hello
Aftab
Hello
SK

In [4]:
def greet():
    print("Hello")
    print("Aftab")
greet()


print()


def greet():
    print("Hello")
    print("SK")
greet()

Hello
Aftab

Hello
SK

In [5]:
def greet():
    print('hello')
    print('SK AFTAB')
greet()

print()

greet()

hello
SK AFTAB

hello
SK AFTAB

In [6]:
#WITHOUT ARGUMENTS

def greet():
    print("Hello")
    print("SK AFTAB")
greet()
print('---------')#should inside the quoets
greet()
print('@@@@@@@@@@')

Hello
SK AFTAB
---------
Hello
SK AFTAB
@@@@@@@@@@

In [7]:
#WITH ARGUMENTS

def add(x,y):
    c=(x+y)
    print(c)
    
add(3,4)

7

In [8]:
def add(x,y):
    c=x+y
    print(c)
add(5,6,2,4)

TypeError: add() takes 2 positional arguments but 4 were given

In [29]:
def add(x,y):
    c=(x+y)
    print(c)
add(4)

TypeError: add() missing 1 required positional argument: 'y'

In [31]:
def add(x,y):
    c=x+y
    return c
add(5,6)

11

In [33]:
def add(x,y):
    c=x+y
    return c
print(add(5,6))

11

In [35]:
def greet():
    print("Actually!")
    print("AFTAB")
    print("10+4 is")
greet()

def add(x,y):
    c=x+y
    return c
print(add(10,4))

Actually!
AFTAB
10+4 is
14

In [37]:
def greet():
    print("Actually!")
    print("AFTAB")
    #print("10+4 is")
def add(x,y):
    c=x+y
    return c
greet()
add(10,4)

Actually!
AFTAB

14

In [39]:
def greet():
    print("Actually!")
    print("AFTAB")
    print("10+4 is")
def add(x,y):
    c=x+y
    return c
greet()
print('______')
add(10,4)

Actually!
AFTAB
10+4 is
______

14

In [41]:
def add(x,y,z):
    c=x+y+z
    d=x-y-z
    e=x*y*z
    f=x/y/z
    return c,d,e,f
result=add(10,8,6)
print(result)
print(type(result))

(24, -4, 480, 0.20833333333333334)
<class 'tuple'>

In [43]:
def greet():
    print("Actually!")
    print("AFTAB")
    print("10+4 is")    

def add(x,y,z): #its not worked,so use print
    c=x+y+z
    return c

def sub(x,y,z):
    d=x-y-z
    return d

greet()
add(10,8,6)
sub(120,18,16)

Actually!
AFTAB
10+4 is

86

In [45]:
def greet():
    print("Hello!")
    print("AFTAB")
       

def add(x,y,z): 
    c=x+y+z
    return c

def sub(x,y,z):
    d=x-y-z
    return d

greet()
print(add(10,8,6))
print(sub(120,18,16))

Hello!
AFTAB
24
86

In [47]:
def greet():
    print("Hello!")
    print("AFTAB")
       

def add_sub(x,y,z): 
    c=x+y+z
    d=x-y-z
    return c,d

greet()
add_sub(120,18,16)

Hello!
AFTAB

(154, 86)

In [49]:
def greet():
    print("Hello!")
    print("AFTAB")
       

def add_sub(x,y,z): 
    c=x+y+z
    d=x-y-z
    return c,d

greet()
result=add_sub(120,18,16)
print(result)
print(type(result))

Hello!
AFTAB
(154, 86)
<class 'tuple'>

In [51]:
def add_sub(x,y):
    c=x+y
    d=x+y
    return c,d

res1,res2 = add_sub(20,10)

print(res1,res2)

print(type(res1))
print(type(res2))

30 30
<class 'int'>
<class 'int'>

In [53]:
def greet (name):
    print("Hello",name)
    
greet("SK AFTAB")

Hello SK AFTAB

In [55]:
def greet():
    print("Hello World")
    
greet()
print("Outside Function")

Hello World
Outside Function

In [57]:
def add(x,y):
    sum=x+y
    return('sum:',sum)
add(10,20)

('sum:', 30)

In [59]:
def add(x,y):
    sum=x+y
    return(sum)
print(('sum=',add(10,20)))

('sum=', 30)

In [61]:
def add(x,y):
    sum=x+y
    return(sum)
result = add(10,20)
print(result)
print(type(result))

30
<class 'int'>

In [63]:
#Dont confuse with the function name and variable name,both are same but works differently
def square(x,y):
    square=x**y
    return(square)
print(square(2,3))

8

In [65]:
def square(x,y):
    result=x**y
    return result 

print(square(4,4))

256

In [67]:
# this will execute without any action or error
def future_function():
    pass

In [69]:
def future_function():
    pass

# this will execute without any action or error
future_function()

### Python Library Function

In [72]:
import math

square_root = math.sqrt(16)

print("square root of 16 is:",square_root)

square root of 16 is: 4.0

In [74]:
power = pow(2,3)
print("2 to the power of 3 is:",power)

2 to the power of 3 is: 8

### Function to find average marks

In [77]:
def find_avg_marks(marks):
    sum_of_marks = sum(marks)
    total_subject = len(marks)
    average_marks = sum_of_marks/total_subject
    return average_marks

marks = [90, 85, 78, 92, 88]

Average_Marks = find_avg_marks(marks)
print("AVerage_Marks:",Average_Marks)

AVerage_Marks: 86.6

In [79]:
def find_avg_marks(marks):
    avg=sum(marks)/len(marks)
    return avg
marks = [90, 85, 78, 92, 88]
print(find_avg_marks(marks))

86.6

### Function Argument with Default Values

In [82]:
def add_num(a=7,b=8):
    sum=a+b
    return sum
add_num (2,3)

5

In [84]:
def add_num(a=7,b=8):
    sum=a+b
    return sum
add_num (2) #cause only a=2 is given,so by default it takes second value as b=8)

10

In [86]:
def add_num(a=7,b=8):
    sum=a+b
    return sum
add_num (b=4) #cause only b=4 is given,so by default it takes second value as a=7)

11

In [88]:
def add_num(a=7,b=8):
    sum=a+b
    return sum
add_num() #cause not given any value during call, by default it add both given arguments values.

15

### Python Keyword Argument

In [91]:
def display_info_f(first_name):
    return("First_Name:",first_name)
def display_info_l(last_name):
    return("Last_Name:",last_name)
    
print(display_info_f("SK"))
print(display_info_l("AFTAB"))

('First_Name:', 'SK')
('Last_Name:', 'AFTAB')

In [93]:
def display_info(first_name,last_name):
    print("First_Name:",first_name)
    print("Last_Name:",last_name)
    
display_info(first_name="SK",last_name="AFTAB")

First_Name: SK
Last_Name: AFTAB

In [95]:
def display_info(first_name,last_name):
    print("First_Name:",first_name)
    print("Last_Name:",last_name)
    
display_info("SK","AFTAB")

First_Name: SK
Last_Name: AFTAB